$n:none;
body,
html,
div,
ul,
li,
a,
span,
i,
strong,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
    padding: 0;
    margin: 0;
    text-decoration: $n;
    list-style-type: $n;
    font-style: normal;
    font-weight: normal;
}

.content:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.top-one {
    width: 1349px;
    height: 44px;
    background-color: #323436;
    line-height: 44px;
    .wrapper {
        width: 1200px;
        height: 44px;
        margin: 0 auto;
        li {
            float: left;
            height: 44px;
            a {
                color: #989898;
                font-size: 14px;
                padding: 0 19px;
                &:hover {
                    color: #fff;
                }
            }
        }
        .dl {
            margin-right: 55px;
        }
        .zc {
            margin-left: 25px;
        }
        .Cart {
            height: 44px;
            width: 180px;
            text-align: center;
            position: relative;
            // 为什么字体不变色
            a {
                background-color: #232426;
                display: block;
                height: 100%;
                width: 150px;
                &:hover {
                    background-color: #fff;
                    color: #000;
                }
            }
            i {
                width: 21px;
                height: 16px;
                display: block;
                position: absolute;
                left: 38px;
                top: 16px;
                background: url(http://mobile.snail.com/static/common/images/nav-icon.png) -50px 0 no-repeat;
            }
        }
    }
}

.top-two {
    height: 100px;
    // line-height: 100px;
    position: relative;
    .wrapper {
        display: flex;
    }
    .top-two-left {
        width: 438px;
        a {
            display: inline-block;
            margin: 20px 0 30px;
            // height: 50px;
        }
        ul {
            float: right;
            height: 100px;
            //这里为什么没有继承父元素的高度呢？？？
        }
        li {
            float: left;
            padding: 0 25px;
        }
        .logo1 {
            color: #333333;
            font-size: 18px;
            border-right: 1px solid #e0e0e0;
            width: 162px;
        }
        .logo2 {
            margin: 0 20px;
        }
    }
    .top-two-right {
        // form {
        //     display: flex;
        // }
        margin-top: 30px;
        .top-search {
            border: 2px solid orange;
            border-right: 0;
            height: 32px;
            line-height: 32px;
            padding: 0 5px;
            width: 350px;
            font-size: 12px;
            vertical-align: middle;
            outline: 0;
        }
        .top-sub {
            border: 0;
            background: url(http://mall.snail.com/store/wjq/images/search_bg.png) no-repeat center center #ff7f00;
            width: 36px;
            height: 36px;
            vertical-align: middle;
            cursor: pointer;
            outline: 0;
        }
    }
}

nav {
    ul {
        width: 1200px;
        margin: auto;
        display: flex;
    }
    background-color: #ff8400;
    li {
        width: 210px;
        height: 50px;
        line-height: 50px;
        padding: 0 87px;
        a {
            color: #fff;
        }
    }
}

.side {
    width: 45px;
    height: 100%;
    background-color: #e0e0e0;
    position: fixed;
    right: 0;
    top: 0;
    li {
        display: block;
        cursor: pointer;
        height: 75px;
        width: 45px;
        bottom: 170px;
        background: url(http://mobile.snail.com/static/common/images/sidebar.png) no-repeat;
        position: absolute;
    }
    .side1 {
        background-position: 0 -947px;
        top: 50%;
    }
    .side2 {
        background-position: -55px -456px;
        top: 60%;
    }
    .side3 {
        background-position: -55px -152px;
        top: 70%;
    }
    .side4 {
        background-position: -55px -608px;
        top: 80%;
    }
}

.content {
    .pos {
        color: #666;
        font-size: 14px;
        line-height: 38px;
        margin: 15px 0;
        span {
            color: #000;
        }
        a {
            color: #666;
        }
    }
    .content-left {
        width: 291px;
        height: 381px;
        border: 1px solid #dfdfdf;
        float: left;
        h2 {
            font-size: 18px;
            color: #333333;
            line-height: 60px;
            text-align: center;
            border-bottom: 1px solid #dfdfdf;
        }
        ul {
            background-color: #ffffff;
            padding: 0 18px;
            height: 318px;
            overflow: hidden;
            li {
                border-bottom: 1px dotted #dfdfdf;
                height: 62px;
                line-height: 62px;
            }
            a {
                color: #000;
            }
            p {
                font-size: 18px;
                color: #e62528;
                font-weight: bold;
                display: inline-block;
            }
            span {
                float: right;
                color: #ff7f00;
            }
            .last {
                color: #999999;
            }
        }
    }
    .content-right {
        width: 893px;
        float: right;
        .content-right-nav {
            background-color: #f7f7f7;
            border: 1px solid #dfdfdf;
            padding: 0 20px;
            h2 {
                border-bottom: 1px dashed #dedede;
                font-size: 16px;
                line-height: 50px;
            }
            .time-option {
                width: 120px;
                height: 30px;
                font-size: 14px;
                background-color: #fff;
                border: 1px solid #dedede;
                line-height: 30px;
                padding: 0 5px 0 10px;
                box-sizing: border-box;
                display: inline-block;
                cursor: pointer;
                position: relative;
                &:hover .right-subnav {
                    display: block;
                }
                i {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: url(http://mall.snail.com/store/wjq/images/icon-list.png) no-repeat center -168px;
                    float: right;
                }
            }
            // .right-nav-box2 {
            //     width: 282px;
            //     padding: 30px 0;
            // }
            .right-subnav {
                width: 120px;
                position: absolute;
                background-color: #fff;
                left: -1px;
                border: 1px solid #dedede;
                padding: 0 10px;
                box-sizing: border-box;
                border-top: 0;
                display: none;
            }
        }
        .content-right-nav-two {
            display: flex;
            font-size: 14px;
            border-bottom: 1px dashed #dedede;
            li {
                width: 282px;
                padding: 30px 0;
            }
            .sail-one {
                margin-right: 10px;
            }
            .sail {
                display: inline-block;
                vertical-align: middle;
                border: 1px solid #dedede;
                width: 64px;
                height: 30px;
                line-height: 30px;
                background: url(http://mall.snail.com/store/wjq/images/icon-list.png) no-repeat right -110px #ffffff;
                text-indent: 10px;
                cursor: pointer;
            }
            .sail-two {
                background-position: right -50px;
            }
            .right-price {
                border: 1px solid #dedede;
                width: 50px;
                height: 26px;
                line-height: 26px;
                padding: 2px 3px;
                vertical-align: middle;
                font-size: 14px;
                display: inline-blockl;
            }
            .right-sure {
                background-color: #ff7f00;
                display: inline-block;
                width: 70px;
                height: 32px;
                line-height: 32px;
                color: #ffffff;
                text-align: center;
                font-size: 14px;
                vertical-align: middle;
                margin-left: 3px;
            }
        }
        .right-type {
            padding: 20px 0;
            font-size: 14px;
            label {
                margin-right: 15px;
            }
        }
        .page {
            // width: 98px;
            // height: 28px;
            padding: 15px 0;
            float: right;
            display: flex;
            .page-left {
                display: block;
                width: 26px;
                height: 26px;
                background: url(http://mall.snail.com/store/wjq/images/icon-list.png) no-repeat center -233px #fff;
                border: 1px solid #dedede;
            }
            .page-number {
                width: 44px;
                height: 26px;
                border: 1px solid #dedede;
                border-left: 0;
                border-right: 0;
                display: inline-block;
                color: #999999;
                line-height: 26px;
                text-align: center;
            }
            .page-right {
                background: url(http://mall.snail.com/store/wjq/images/icon-list.png) no-repeat center -263px #ffffff;
            }
        }
        .result-product {
            padding-top: 60px;
            width: 912px;
            .item {
                width: 286px;
                height: 348px;
                border: 1px solid #dedede;
                margin-right: 16px;
                margin-bottom: 16px;
                float: left;
            }
            a {
                width: 286px;
                height: 265px;
                display: block;
                border-bottom: 1px dashed #dedede;
            }
            img {
                display: block;
                width: 265px;
            }
            .item-intro {
                height: 82px;
                line-height: 82px;
                border-top: 1px dashed #e6e6e6;
                padding: 0 20px;
                font-size: 16px;
            }
            i {
                float: right;
                color: #ff7f00;
                font-size: 16px;
            }
        }
    }
}

.pagelist {
    float: right;
    width: 100%;
}